@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-p{
  text-transform: uppercase;
  font-size: 24px;
}

.navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  
  /* add height as a media query - for desktop = 110px and for mobile = 60px */ 
}

.navbar-child{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

